{% extends "layout.html" %}

{% block content %}
<body>
    <form action="/add_question" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="5" cols="50" required></textarea><br><br>

        <label for="image">Add image</label>
        <input type="file" id="image" name="image" accept="image/jpeg, image/png">
        <input type="submit" value="Submit">
    </form>
    <form class="form1">
        <button class="button button1" formaction="/list" type="submit">List of Questions</button>
        <button class="button button1" formaction="/" type="submit">Main Page</button>
    </form>
</body>
{% endblock %}